__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
lightning_logs/

PhyAugPipe/collect_train_data/
PhyAugPipe/models/
PhyAugPipe/T2V_data/
PhyAugPipe/DPO_data/
DiffSynth-Studio/eval_results_all/
DiffSynth-Studio/results/
DiffSynth-Studio/models/train/
DiffSynth-Studio/models/Wan-AI/
DiffSynth-Studio/gymnastic_14B.mp4
DiffSynth-Studio/gymnastic_14B_PhyGDPO.mp4
DiffSynth-Studio/weightlifting_1.3B.mp4
DiffSynth-Studio/weightlifting_1.3B_PhyGDPO.mp4
DiffSynth-Studio/json_file/
DiffSynth-Studio/models/pretrained/
*.mp4
